{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="starterguide">Back</a>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Adobe creative cloud
            </h1>
            <p class="body-text">
              To enable running of Adobe applications such as Illustrator and Photoshop
            </p>
          </legend>

          <h1 class="heading-medium">
            Apply for licence
          </h1>

          <ul class="list list-bullet">
            <li>To request installation of the software you'll need to raise a Request for Service via 'MySelfService'.</li>
            <p></p>
            <li>Go to the 'Start' menu and select 'All Programs'.  'MySelfService' is under #F6 MY REQUEST HUB'.</li>
            <p></p>
            <p></p>
            <img src="/public/images/startmenu.png" alt="Start Menu">
            <p></p>
            <p></p>
            <li>You'll then see the main option screen of the mySelfService.  Click on 'Standard IT request' and then type 'software' to find the 'Software install/ Renew/ Removal or Transfer Request' option.</li>
            <p></p>
            <p></p>
            <img src="/public/images/myselfservice.png" alt="my self service" style="width:1000px;height:500px;">
            <p></p>
            <p></p>
            <li>Click on this option, fill out your details and click 'Raise Request'.</li>
            <p></p>
            <p></p>
            <img src="/public/images/remoteaccess.png" alt="remote access" style="width:1000px;height:500px;">
            <p></p>
            <p></p>
            <li>You'll receive an email with the request number which you can use in the Marvel system to check progress of your request.</li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Download Applications
          </h1>

          <ul class="list list-bullet">
            <li>Once you have an account go to Adobe.com, create an account and sign in.</li>
            <p></p>
            <li>Then under 'Manage account' click 'Desktop Downloads'.  From this screen download the 'Creative Cloud' desktop app.</li>
            <p></p>
            <li>This will then enable you to download and open any required applications, such as Illustrator and Photoshop more easily.</li>
            <p></p>
            <p></p>
            <img src="/public/images/adobe1.png" alt="adobe1" style="width:435px;height:775px;">
            <p></p>
            <p></p>
          </ul>


        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
