{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
    <ol>
        <li><a href="/index">Design Community</a></li>
        <li><a href="design-community">The community</a></li>
        <li><a href="starter-guide">Starter kit</a></li>
        <li>Axure</li>
        </ol>
    </div>


    <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-large">Axure</h1>
            <p class="body-text">
                To enable running of Axure RP Pro for wireframes and prototypes
            </p>

            <h1 class="heading-medium">Apply for licence</h1>

            <ul class="list list-bullet">
                <li>To request installation of the software you will need to raise a Request for Service via 'MySelfService'.</li>
                <li>Go to the 'Start' menu and select 'All Programs'.  'MySelfService' is under #F6 MY REQUEST HUB'.
                    <img src="/public/images/startmenu.png" alt="Start Menu"></li>
                <li>You'll then see the main option screen of the mySelfService.  Click on 'Standard IT request' and then type
                    'software' to find the 'Software install/ Renew/ Removal or Transfer Request' option.
                    <img src="/public/images/myselfservice.png" alt="my self service" style="width:1000px;height:500px;"></li>
                <li>Click on this option, fill out your details and click 'Raise Request'.
                    <img src="/public/images/remoteaccess.png" alt="remote access" style="width:1000px;height:500px;"></li>
                <li>You'll receive an email with the request number which you can use in the Marvel system to check progress
                    of your request.</li>
            </ul>

            <h1 class="heading-medium">Download Axure</h1>

            <ul class="list list-bullet">
                <li>Go to <a href="https://www.axure.com/">www.axure.com</a> and click on the center 'Download Free Trial' option.</li>
                <li>This will download a 30 day free trial for you to install on the Macbook whilst you wait for the RFS to complete.</li>
                <li>Once your RFS has provided you with a licence key and licensee name. Open Axure and open 'Help - Manage licence'.
                    <img src="/public/images/axure1.png" alt="axure1" style="width:1000px;height:500px;"></li>
                <li>Input the name and key and this will activate your version of Axure.</li>
            </ul>

            <h1 class="heading-medium">GDS Widget library</h1>
            <p class="body-text">
                There is an Axure library containing GDS style widgets to use in your prototypes. This is an active
                document, so if you need a widget that is not present follow these
                <a href="https://www.axure.com/support/reference/widget-libraries">instructions</a> to create it so
                the rest of the community can use it as well.
            </p>

            <ul class="list list-bullet">
                <li>Download the <a href="https://drive.google.com/drive/folders/0B_uf_jUFJvV_am1JdkRtalU5Z00">GDS.rplib file</a>
                    from the google drive.</li>
                <li>In Axure, click the icon beside Libraries in the bottom left portion of the screen (shown below), click
                    'Load library' and navigate to the downloaded file. This will add a 'GDS' option to the library dropdown options.
                    <img src="/public/images/axure2.png" alt="axure2" style="width:444px;height:385px;"></li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}
