{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li>The community</li>
        </ol>
    </div>

    <h1 class="heading-large">The community</h1>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h2 class="heading-small">Meet the team</h2>
                <p><a href="meet-the-team">Who's who</a></p>

                <h2 class="heading-small">Starter kit</h2>
                <p><a href="https://docs.google.com/document/d/1q5j9NFWlWMAus9ECU8tFwUK7w3EzQhjBkq_Y7HLlpy4/edit" target="_blank">Welcome</a></p>
                <p><a href="starter-guide">Getting set up</a></p>

                <h2 class="heading-small">Weekly meetings</h2>
                <p>
                    We have a <a href="starter-guide">trello</a> board to track what is being talked about. There is a
                    <a href="https://docs.google.com/spreadsheets/d/1O_41L_TlxKlYjRyF_BfW_rOM0x10bFxQc7MGwRXZuD4/edit#gid=0">
                        rota</a> for taking <a href="https://drive.google.com/drive/folders/16c2Heul5wsy9IyPwixLtZEC6JN0XhzX5">notes</a>.
                </p>

                <h2 class="heading-small">Tools and resources</h2>
                <p>There are numerous <a href="resources">resources</a> available to help make our jobs a bit easier.</p>

                <h2 class="heading-small">Service maps</h2>

                <h2 class="heading-small">User journeys</h2>

                <h2 class="heading-small">Design reviews and critiques</h2>

                <h2 class="heading-small">Visual/graphic design</h2>

                <h2 class="heading-small">Heroku guide</h2>

                <h2 class="heading-small">Github guide</h2>

                <h2 class="heading-small">Tools we use</h2>
                <ul class="subsection__list">
                    <li>Omnigraffle / draw.io</li>
                    <li>Gallery.io</li>
                    <li>Pens and paper / post-it's</li>
                    <li>Keynote / google slides / powerpoint</li>
                    <li>GOV.UK prototype kit</li>
                    <li>Affinity designer / Illustrator</li>
                </ul>
            </div>
        </div>
    </main>


            <!-- Join the community
            <div class="column-third">
                <div class="related-item">
                    <h2 class="related-item__title" id="related-communities">
                        Join the community
                    </h2>
                    <p class="related-item__description">
                        Find out what the Design community does and how to get involved.
                    </p>
                    <nav role="navigation" aria-labelledby="related-communities" class="related-communities">
                        <ul class="related-item__list">
                            <li class="related-item__list-item">
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!-- grid-row

</main> -->






{% endblock %}
