{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li>The community</li>
        </ol>
    </div>

    <h1 class="heading-large">The community</h1>
        <div class="grid-row">
            <div class="column-two-thirds">
                <h2 class="heading-small">Meet the team</h2>
                <p><a href="meet-the-team">Who's who</a></p>

                <h2 class="heading-small">Starter kit</h2>
                <p><a href="https://docs.google.com/document/d/1q5j9NFWlWMAus9ECU8tFwUK7w3EzQhjBkq_Y7HLlpy4/edit" target="_blank">Welcome</a></p>
                <p><a href="starter-guide">Getting set up</a></p>

                <h2 class="heading-small">Weekly meetings</h2>
                <p>
                    We have a <a href="starter-guide">trello</a> board to track what is being talked about. There is a
                    <a href="https://docs.google.com/spreadsheets/d/1O_41L_TlxKlYjRyF_BfW_rOM0x10bFxQc7MGwRXZuD4/edit#gid=0">
                        rota</a> for taking <a href="https://drive.google.com/drive/folders/16c2Heul5wsy9IyPwixLtZEC6JN0XhzX5">notes</a>.
                </p>

                <h2 class="heading-small">Resources</h2>
                <p>There are numerous <a href="resources">resources</a> available to help make our jobs a bit easier.</p>

                <!-- <h2 class="heading-small">Service maps</h2>

                <h2 class="heading-small">User journeys</h2>

                <h2 class="heading-small">Design reviews and critiques</h2>

                <h2 class="heading-small">Visual/graphic design</h2> -->

                <h2 class="heading-small">Tools we use:</h2>
                <ul class="subsection__list">
                    <li><a href="https://www.omnigroup.com/omnigraffle" target="_blank"</a> Omnigraffle</li>
                    <li><a href="https://www.draw.io/" target="_blank"</a> draw.io</li>
                    <li><a href="https://www.sketchapp.com/" target="_blank"</a> Sketch</li>
                    <li><a href="https://gallery.io/login" target="_blank"</a> Gallery.io</li>
                    <li><a href="https://www.apple.com/uk/keynote/" target="_blank"</a> Keynote</li>
                    <li><a href="https://www.google.co.uk/slides/about/" target="_blank"</a> Google slides</li>
                    <li><a href="https://govuk-prototype-kit.herokuapp.com/docs" target="_blank"</a> GOV.UK prototype kit</li>
                    <li><a href="https://affinity.serif.com/en-gb/" target="_blank"</a> Affinity designer</li>
                    <li><a href="https://www.adobe.com/uk/creativecloud/plans.html?gclid=Cj0KCQiA-JXiBRCpARIsAGqF8wX0G66TQ_4aaW4yZo1ambXXx7StnBmc6ygqLn1WZkwmB2WYcKWF8_8aAkmCEALw_wcB&sdid=88X75SKR&mv=search&ef_id=Cj0KCQiA-JXiBRCpARIsAGqF8wX0G66TQ_4aaW4yZo1ambXXx7StnBmc6ygqLn1WZkwmB2WYcKWF8_8aAkmCEALw_wcB:G:s&s_kwcid=AL!3085!3!273770163345!e!!g!!adobe%20suite" target="_blank"</a> Adobe suite</li>
                </ul>

                <h2 class="heading-small">Heroku</h2>
                <p><a href="https://devcenter.heroku.com/start" target="_blank">Getting Started on Heroku</a></p>

                <h2 class="heading-small">GitHub</h2>
                <p><a href="https://guides.github.com/" target="_blank">Getting Started with GitHub</a></p>


            </div>
        </div>
    </main>


            <!-- Join the community
            <div class="column-third">
                <div class="related-item">
                    <h2 class="related-item__title" id="related-communities">
                        Join the community
                    </h2>
                    <p class="related-item__description">
                        Find out what the Design community does and how to get involved.
                    </p>
                    <nav role="navigation" aria-labelledby="related-communities" class="related-communities">
                        <ul class="related-item__list">
                            <li class="related-item__list-item">
                                <a href="/service-manual/communities/design-community">Design community</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!-- grid-row

</main> -->






{% endblock %}
