{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design community</a></li>
            <li>Fonts<li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Fonts</h1>
            <p class="body-text">
                When creating prototypes for externally facing services, the font
                <a href="https://drive.google.com/drive/folders/0B1ZlxWkPbjnsMERzbUpjU2JwRTA">GDS Transport Website</a> should be used.
            </p>
            <p class="body-text">
                For all internal content Arial should be used.
            </p>
        </div>
    </div>
</main>

{% endblock %}
