{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li>All things GDS</li>
        </ol>
    </div>

    <h1 class="heading-xlarge">All things GDS</h1>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-small"><a href="https://www.gov.uk/service-toolkit">GOV.UK Service Toolkit</a></h2>
            <p>All you need to design, build and run services that meet government standards.</p>

            <h2 class="heading-small"><a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype Kit</a></h2>
            <p>A toolkit to help create high fidelity prototypes quickly.
              The kit provides a simple way to make interactive prototypes that look like pages on GOV.UK.
              These prototypes can be used to show ideas to people you work with, and to do user research.</p>

            <h2 class="heading-small"><a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a></h2>
            <p>The Digital Service Standard is a set of 18 criteria to help government create and run good digital services.
              Services created by HM Land Registry that will be public facing must meet these service standards.</p>

            <h2 class="heading-small"><a href="https://design-system.service.gov.uk/">GOV.UK Design System</a></h2>
            <p>The designers guide. Use this design system to make your service consistent with GOV.UK.
              Learn from the research and experience of other service teams and avoid repeating work that’s already been done.</p>

            <h2 class="heading-small"><a href="https://www.gov.uk/guidance/government-design-principles">Government Design Princples</a></h2>
            <p>The UK government's design principles and examples of how they've been used.</p>
        </div>
    </div>
</main>



{% endblock %}
