{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li>All things GDS</li>
        </ol>
    </div>

    <h1 class="heading-xlarge">All things GDS</h1>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-small"><a href="https://www.gov.uk/service-toolkit">GOV.UK Service Toolkit</a></h2>
            <p>This is the service toolkit which provides you with all the information you need!</p>

            <h2 class="heading-small"><a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype Kit</a></h2>
            <p>A toolkit to help create high fidelity prototypes quickly. Pop in some more information...</p>

            <h2 class="heading-small"><a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a></h2>
            <p>Services created by HM Land Registry that will be public facing must meet these service standards.</p>

            <h2 class="heading-small"><a href="https://design-system.service.gov.uk/">GOV.UK Design System</a></h2>
            <p>The designers guide.</p>

            <h2 class="heading-small"><a href="https://www.gov.uk/guidance/government-design-principles">Government Design Princples</a></h2>
            <p>The ten princples of design that GDS created.</p>
        </div>
    </div>
</main>



{% endblock %}
