{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="starterguide">Back</a>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Github
            </h1>
            <p class="body-text">
              To enable access GitHub version control software
            </p>
          </legend>

          <h1 class="heading-medium">
            Create Github account
          </h1>

          <ul class="list list-bullet">
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
          </ul>


        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
