{% extends "layout.html" %}

{% block page_title %}
  Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li><a href="design-community">The community</a></li>
            <li><a href="starter-guide">Starter kit</a></li>
            <li>Github</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-large">Github</h1>
            <p class="body-text">
                To enable access to GitHub version control software
            </p>

            <h1 class="heading-medium">Create GitHub account</h1>

            <ul class="list list-bullet">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}
