{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- Breadcrumbs -->
      <div class="breadcrumbs">
        <ol>
          <li><a href="/index">Home</a></li>
          <li><a href="/starterguide">Starter guide</a></li>
          <li> <a href="/github"> GitHub </a> <li>
        </ol>
      </div>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Github
            </h1>
            <p class="body-text">
              To enable access to GitHub version control software
            </p>
          </legend>

          <h1 class="heading-medium">
            Create GitHub account
          </h1>

          <ul class="list list-bullet">
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Training
          </h1>

          <ul class="list list-bullet">
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
          </ul>


        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
