{% extends "layout.html" %}

{% block page_title %}
  GitHub guide
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="homepage">Back</a>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              GitHub guide
            </h1>
            <p class="body-text">
              Guide to introduce GitHub and how to use it.
            </p>
          </legend>

          <h1 class="heading-medium">
            GitHub linkety links
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://govuk-prototype-kit.herokuapp.com/docs/setting-up-git">Setting up git</a></li>
            <p></p>
            <li><a href="http://danielkummer.github.io/git-flow-cheatsheet/">Cheatsheet</a></li>
            <p></p>
            <li><a href="https://twitter.com/MattShaw85/status/665178889480765440">The Git circle of safety</a></li>
            <p></p>
            <li><a href="https://try.github.io/levels/1/challenges/1">Git challenges</a></li>
          </ul>

        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
