{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <a class="link-back" href="index">Back</a>

  <h1 class="heading-xlarge">GitKraken</h1>

  <div class="grid-row">

    <div class="column-one-third">

      <iframe src="https://www.gitkraken.com/" frameborder="2" width="375" height="550">
      </iframe>

    </div>

    <div class="column-two-third">

      <p class="title-spacing bold heading-medium">
        What is GitKraken?
      </p>

      <p class="title-spacing"> GitKraken is a GUI for managing and contrubuting to a GitHub Repo.
        It allows you to easily create, merge and push branches.
        Remember, although you are using a GUI you need to make sure that your still following good practices when
        working on a shared prototype.
      </p>

      <p class="title-spacing">Need help with GitKraken?<br>
         Speak to:</p>
      <ul class="title-spacing">
        <li>Emeric - Emeric.Francis@landregistry.gov.uk</li>

      </ul>

    </div>

  </div>

</main>

{% endblock %}
