{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li><a href="design-community">The community</a></li>
            <li><a href="starter-guide">Starter kit</a></li>
            <li>Google</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-large">Google</h1>
            <p class="body-text">
                To enable access to HM Land Registry Google groups and drives
            </p>

            <h1 class="heading-medium">Create a Google account</h1>

            <ul class="list list-bullet">
                <li>You'll need to set up a Google account with your HM Land Registry email address.</li>
                <li>Go to <a href="https://accounts.google.com/SignUpWithoutGmail">'Sign Up Without Gmail'</a> and create
                    an account using your email in the format: <br>firstname.lastname@landregistry.gov.uk</li>
            </ul>

            <h1 class="heading-medium">Join Google groups</h1>

            <ul class="list list-bullet">
                <li>Use your new Google account to join the
                    <a href ="https://groups.google.com/a/digital.cabinet-office.gov.uk/forum/?hl=en-GB#!forum/digital-service-designers">
                        GDS design community.</a></li>
            </ul>

            <h1 class="heading-medium">Join Google drives</h1>

            <ul class="list list-bullet">
                <li>You should request access to the
                    <a href="https://drive.google.com/drive/folders/0BzyxMk_wMFDeSEVMZUlzeXE1cUk">HM Land Registry</a> and the
                    <a href="https://drive.google.com/drive/folders/0B6RdtFhUpQF8TXFweVdZTW9NXzQ">User Centered Design</a> drives.
                </li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}
