{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- Breadcrumbs -->
      <div class="breadcrumbs">
        <ol>
          <li><a href="/index">Home</a></li>
          <li><a href="/starterguide">Starter guide</a></li>
          <li> <a href="/google"> Google </a> <li>
        </ol>
      </div>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Google
            </h1>
            <p class="body-text">
              To enable access to HM Land Registry Google groups and drives
            </p>
          </legend>

          <h1 class="heading-medium">
            Create Google account
          </h1>

          <ul class="list list-bullet">
            <li>If you have not done so you'll need a Google account set up with your HM Land Registry email account.</li>
            <p></p>
            <li>Go to <a href="https://accounts.google.com/SignUpWithoutGmail">SignUpWithoutGmail</a> and create an account using your email in the form-</li>
            <p></p>
            <li>firstname.lastname@landregistry.gov.uk</li>
          </ul>

          <h1 class="heading-medium">
            Join Google groups
          </h1>

          <ul class="list list-bullet">
            <li>You should then use your new account to join the GDS design community.  Go to the following location and apply for membership.</li>
            <p></p>
            <li><a href="https://groups.google.com/a/digital.cabinet-office.gov.uk/forum/?hl=en-GB#!forum/digital-service-designers">Digital Service Designers</a></li>
          </ul>

          <h1 class="heading-medium">
            Join Google drive
          </h1>

          <ul class="list list-bullet">
            <li>You should request access to the following google drives -</li>
            <p></p>
            <li><a href="https://drive.google.com/drive/folders/0BzyxMk_wMFDeSEVMZUlzeXE1cUk">HM Land Registry</a></li>
            <p></p>
            <li><a href="https://drive.google.com/drive/folders/0B6RdtFhUpQF8TXFweVdZTW9NXzQ">User Centered Design</a></li>
          </ul>


        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
