{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="starterguide">Back</a>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Heroku
            </h1>
            <p class="body-text">
              To enable access to web hosting application
            </p>
          </legend>

          <h1 class="heading-medium">
            Create Heroku account
          </h1>

          <ul class="list list-bullet">
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
          </ul>

          <h1 id="training" class="heading-medium">
            Training
          </h1>

          <ul class="list list-bullet">
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
          </ul>


        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
