{% extends "layout.html" %}

{% block page_title %}
  Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li><a href="design-community">The community</a></li>
            <li><a href="starter-guide">Starter kit</a></li>
            <li>Heroku</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-large">Heroku</h1>
            <p class="body-text">Access to the web hosting application.</p>

            <h1 class="heading-medium">Create Heroku account</h1>

            <ul class="list list-bullet">
                <li></li>
                <p></p>
                <li></li>
                <p></p>
                <li></li>
                <p></p>
            </ul>
        </div>
    </div>
</main>

{% endblock %}
