{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="header-bar">
  <h1 class="header-title heading-xlarge">Design Community</h1>
  <p class="header-text">
    A collabrative space for designers adn content designers to share knowledge
    and useful tools
  </p>
</div>

<main id="content" role="main">

  <div class="grid-row page-top-margin">

    <div class="column-one-third" padding>
      <p class="p-spacing bold">
        <a href="#"> Prototyping</a>
      </p>
      <p>
        This is placeholder text in here there will be a description
        of the content this area of the website contians
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">
        <a href="#">Tools</a>
      </p>
      <p>
        This is placeholder text in here there will be a description
        of the content this area of the website contians
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">
        <a href="#">Team</a>
      </p>
      <p>
        This is placeholder text in here there will be a description
        of the content this area of the website contians
      </p>
    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <p class="p-spacing bold">
        <a href="#"> Content</a>
      </p>
      <p>
        This is placeholder text in here there will be a description
        of the content this area of the website contians
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">
        <a href="#">Principles</a>
      </p>
      <p>
        This is placeholder text in here there will be a description
        of the content this area of the website contians
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">
        <a href="#">Library</a>
      </p>
      <p>
        This is placeholder text in here there will be a description
        of the content this area of the website contians
      </p>
    </div>

  </div>
</main>

{% endblock %}
