{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}


<html lang="en">

<body class="js-enabled">

<!-- Header and info -->
<section class="hero" style="background-color:#4c4c4d">
    <div class="hero__content">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="hero__title">Design community</h1>
                <p class="hero__description">Design, build and run HM Land Registry services.</p>
            </div>
        </div>
    </div>
</section>


<main class="full-page-width-wrapper" id="content" role="main">
    <div class="collection">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <h2 class="heading-large"><a href="resources">Resources</a></h2>
              <p class="heading-medium"> A list of it all! </p>
          </div>
        </div>

            <div class="grid-row">
            <div class="column-third">
                <h2 class="heading-medium"><a href="gds">All things GDS</a></h2>
                <p>The government standards your team needs to work to, and the guidance and tools to support them.</p>
            </div>
            <div class="column-third">
                <h2 class="heading-medium"><a href="prototyping">Prototyping</a></h2>
                <p>All you need to know about what goes into a prototype.</p>
            </div>
            <div class="column-third">
                <h2 class="heading-medium"><a href="design-community">The community</a></h2>
                <p>Information on the community and how we can help.</p>
            </div>
            </div>

    </div>

</main>



</body>

<div id="global-app-error" class="app-error hidden"></div>
<!-- <script src="https://assets.publishing.service.gov.uk/static/govuk-template-d4ba5ab8f60c9df5c733e7d3c7c469ff93dc6b64d2b2a8feb94afa8f77c66193.js" crossorigin="anonymous" integrity="sha256-1LpauPYMnfXHM+fTx8Rp/5Pca2TSsqj+uUr6j3fGYZM="></script> -->
<script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js" crossorigin="anonymous" integrity="sha256-XxFXpDPCdry5jzZRQ098sfSf9F/i7CgItG7giOYRWbU="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-fafb5f177839ed067265c412a7b02814c4873d689ce7ad001bd97e323b1f2287.js" crossorigin="anonymous" integrity="sha256-+vtfF3g57QZyZcQSp7AoFMSHPWic560AG9l+MjsfIoc="></script>
<!-- <script src="https://assets.publishing.service.gov.uk/static/surveys-0d86371aa3b7454b07a5045a026cf00fc7c405bff02e06be7d4703391c422f23.js" crossorigin="anonymous" integrity="sha256-DYY3GqO3RUsHpQRaAmzwD8fEBb/wLga+fUcDORxCLyM="></script> -->
<!-- <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script> -->
<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-8545e3ada12017a9eb4a218c12237c0ab456450b5466855a306d20f666dff77d.js"></script>

</html>


{% endblock %}
