{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">

  <h1 class="heading-xlarge">Meet the Team</h1>

  <div class="grid-row">

    <div class="column-one-third">
      <p class="p-spacing bold">Sam Brierley</p>
      <img src="/public/images/sam.png" alt="Sam" width="300" height="300">
      <p>
        Head of UCD<br>
        Sam.Brierley@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Joe Honywill</p>
      <img src="/public/images/joe.png" alt="Joe" width="300" height="300">
      <p>
        Senior Designer<br>
        Joe.Honywill@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Sarah Thomson</p>
      <img src="/public/images/sarah.png" alt="Sarah" width="300" height="300">
      <p>
        Senior Content Designer<br>
        Sarah.Thomson@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Laura Criddle</p>
      <img src="/" alt="Laura" width="300" height="300">
      <p>
        Designer<br>
        Laura.Criddle@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Andy Porter</p>
      <img src="/" alt="Andy" width="300" height="300">
      <p>
        Designer<br>
        Andy.Porter@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Zoe Trelease</p>
      <img src="/" alt="Zoe" width="300" height="300">
      <p>
        Designer<br>
        Zoe.Trelease@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Matt Tomas</p>
      <img src="/" alt="Matt" width="300" height="300">
      <p>
        Designer<br>
        Matt.Tomas@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Emeric Francis</p>
      <img src="/" alt="Emeric" width="300" height="300">
      <p>
        Associate Designer<br>
        Emeric.Francis@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Richard Gibbons</p>
      <img src="/" alt="Rich" width="300" height="300">
      <p>
        Associate Designer<br>
        Richard.Gibbons@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Erin Tregunna</p>
      <img src="/" alt="Erin" width="300" height="300">
      <p>
        Associate Content designer<br>
        Erin.Tregunna@landregistry.gov.uk<br>
      </p>
    </div>

  </div>

</main>

{% endblock %}
