{% extends "layout.html" %}

{% block page_title %}
  Design community
{% endblock %}

{% block content %}


<main id="content" role="main">
  <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li><a href="design-community">The community</a></li>
            <li>Meet the team</li>
        </ol>
  </div>

  <h1 class="heading-xlarge">Meet the Team</h1>

  <div class="grid-row">
    <div class="column-one-third">
      <p class="p-spacing bold">Sam Brierley</p>
      <img src="/public/images/Sam1.jpg" alt="Sam" width="300" height="300">
      <p>
        Head of UCD<br>
        Sam.Brierley@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Joe Honywill</p>
      <img src="/public/images/joe.png" alt="Joe" width="300" height="300">
      <p>
        Lead Designer<br>
        Joe.Honywill@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Laura Clifford</p>
      <img src="/public/images/Laura.jpeg" alt="Laura" width="300" height="300">
      <p>
        Senior Designer<br>
        Laura.Criddle@landregistry.gov.uk<br>
      </p>
    </div>
  </div>
<br>
  <div class="grid-row">
    <div class="column-one-third">
      <p class="p-spacing bold">Joanne Back</p>
      <img src="" alt="Joanne" width="300" height="300">
      <p>
        Content Designer<br>
        Joanne.Back@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Andy Porter</p>
      <img src="/public/images/Andy.JPG" alt="Andy" width="300" height="300">
      <p>
        Designer<br>
        Andy.Porter@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Zoe Trelease</p>
      <img src="/public/images/Zoe.jpg" alt="Zoe" width="300" height="300">
      <p>
        Designer<br>
        Zoe.Trelease@landregistry.gov.uk<br>
      </p>
    </div>
  </div>
<br>
  <div class="grid-row">
    <div class="column-one-third">
      <p class="p-spacing bold">Matt Tomas</p>
      <img src="/public/images/Matt.png" alt="Matt" width="300" height="300">
      <p>
        Designer<br>
        Matt.Tomas@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Emeric Francis</p>
      <img src="/public/images/emeric.jpg" alt="Emeric" width="300" height="300">
      <p>
        Associate Designer<br>
        Emeric.Francis@landregistry.gov.uk<br>
      </p>
    </div>

    <div class="column-one-third">
      <p class="p-spacing bold">Richard Gibbons</p>
      <img src="/public/images/Rich.jpg" alt="Rich" width="300" height="300">
      <p>
        Associate Designer<br>
        Richard.Gibbons@landregistry.gov.uk<br>
      </p>
    </div>
  </div>
<br>
  <div class="grid-row">
    <div class="column-one-third">
      <p class="p-spacing bold">Erin Tregunna</p>
      <img src="/public/images/erin.jpg" alt="Erin" width="300" height="300">
      <p>
        Associate Content designer<br>
        Erin.Tregunna@landregistry.gov.uk<br>
      </p>
    </div>


  <div class="column-one-third">
    <p class="p-spacing bold">Ros Boyes</p>
    <img src="/public/images/ros.jpg" alt="Ros" width="300" height="300">
    <p>
      Interaction Designer<br>
      Ros.Boyes@landregistry.gov.uk<br>
    </p>
  </div>
  </div>


</main>

{% endblock %}
