{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li><a href="design-community">The community</a></li>
            <li><a href="starter-guide">Starter kit</a></li>
            <li>Omnigraffle</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-large">Omnigraffle</h1>
            <p class="body-text">
                Get started with a digital illustration application.
            </p>

            <h1 class="heading-medium">Apply for licence</h1>

            <ul class="list list-bullet">
                <li>To request installation of the software you'll need to raise a 'Request for Service (RFS)' via 'mySelfService'
                    on HMLR's intranet.</li>
                <li>Go to the 'Start' menu and select 'All Programs'.'mySelfService' is under #F6 'MY REQUEST HUB'.
                    <img src="/public/images/startmenu.png" alt="Start Menu"></li>
                <li>You'll then see the main option screen of the mySelfService. Click on 'Standard IT request' and then
                    type 'software' to find the 'Software install/ Renew/ Removal or Transfer Request' option.
                    <img src="/public/images/myselfservice.png" alt="my self service" style="width:1000px;height:500px;"></li>
                <li>Click on this option, fill out your details and click 'Raise Request'.
                    <img src="/public/images/remoteaccess.png" alt="remote access" style="width:1000px;height:500px;"></li>
                <li>You'll receive an email with the request number which you can use in the Marvel system to check progress
                    of your request.</li>
            </ul>

            <h1 class="heading-medium">Download Omnigraffle</h1>

            <ul class="list list-bullet">
                <li>Download <a href="https://www.omnigroup.com/omnigraffle">Omnigraffle</a></li>
                <li>Once your RFS has completed you'll be provided with an exchange code that you will need to
                    <a href="https://ashshop.biz/tc/en/">input</a>.</li>
                <li>You will then receive an email containing a personal licence key.</li>
                <li>Open Omnigraffle and click 'Omnigraffle - Licences' to input this personal licence key, making your
                    version of Omnigraffle official.
                    <img src="/public/images/omnigraffle1.png" alt="omnigraffle11" style="width:1000px;height:500px;"></li>
           </ul>
        </div>
    </div>
</main>

{% endblock %}
