{% extends "layout.html" %}

{% block page_title %}
  Gov prototype kit guide
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- Breadcrumbs -->
      <div class="breadcrumbs">
        <ol>
          <li><a href="/index">Home</a></li>
          <li><a href="/starterguide">Starter guide</a></li>
          <li> <a href="/prototype-tutorials"> Using the GOV prototype kit </a> <li>
        </ol>
      </div>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Using the GOV prototype kit
            </h1>
            <p class="body-text">
              Follow these links to access Gov prototyping tutorials
            </p>
          </legend>

          <h1 class="heading-medium">
            Prototype kit guide
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples">Tutorials and examples</a></li>
            <p></p>
            <li><a href="https://www.gov.uk/service-manual/design/making-prototypes">Making prototypes</a></li>
            <p></p>
            <li><a href="https://govuk-prototype-kit.herokuapp.com/docs/about">About</a></li>
          </ul>

        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
