{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="starterguide">Back</a>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Apply for remote access
            </h1>
            <p class="body-text">
              To enable access to Office 365 on a macbook
            </p>
          </legend>

          <h1 class="heading-medium">
            Create Request for service
          </h1>

          <ul class="list list-bullet">
            <li>To access Office 360 from your Macbook you will need to raise a Request for Service via 'MySelfService'.</li>
            <p></p>
            <li>Go to the 'Start' menu and select 'All Programs'.  'MySelfService' is under #F6 MY REQUEST HUB'.</li>
            <p></p>
            <img src="/public/images/startmenu.jpg" alt="Start Menu"><p></p>
            <li>You will then see the main option screen of the mySelfService.  Click on 'Standard IT request' and then type 'remote' to find the 'Remote Access request' option.</li>
            <p></p>
            <img src="/public/images/myselfservice.jpg" alt="my self service" style="width:500px;height:250px;">
            <p></p>
            <li>Click on this option, fill out your details and click 'Raise Request'.</li>
            <p></p>
            <img src="/public/images/remoteaccess.jpg" alt="remote access" style="width:500px;height:250px;">
            <p></p>
            <li>You will receive an email with the request number which you can use in the Marvel system to check progress of your request.</li>
            <p></p>
            <li>Within 15 days you should be able to pick up your 'Entrust' device for second factor authentication.</li>
            <p></p>
          </ul>

          <p></p>

          <h1 class="heading-medium">
            Accessing your Land Registry mailbox from a personal computer or device
          </h1>

          <ul class="list list-bullet">
            <li>To access your Land Registry mailbox from a personal computer or device, please navigate to <a href="https://login.microsoftonline.com">https://login.microsoftonline.com</a> and enter your land registry email</li>
            <p></p>
            <li>When you click into the Password box to type your password you'll be automatically redirected to another web page.</li>
            <p></p>
            <img src="/public/images/office365-1.png" alt="office365 1" style="width:500px;height:250px;">
            <p></p>
            <li>YThe redirection will take you to federate.landregistry.gov.uk. Enter your domain password (the one you log into your Land Registry computer with) and select "Sign in". </li>
            <p></p>
            <img src="/public/images/office365-2.png" alt="office365 2" style="width:500px;height:250px;">
            <p></p>
            <li>Second Factor Authentication will be required every time you access your Land Registry mailbox from a personal computer or device.</li>
            <p></p>
            <li> Please generate a code from your Entrust Security token by holding the button down for a few seconds, then enter the code in the box on the web page and select "Submit". </li>
            <p></p>
            <li>You can use one of the other authentication options, but only if you have been pre-enrolled and configured for them. </li>
            <p></p>
            <img src="/public/images/office365-3.png" alt="office365 3" style="width:500px;height:250px;">
            <p></p>
            <li>Once you have been successfully authenticated you will be re-directed to the Office 365 dashboard. Click the "Mail" tile to access your work email. </li>
            <p></p>
            <img src="/public/images/office365-4.png" alt="office365 4" style="width:500px;height:250px;">
            <p></p>
          </ul>

        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
