{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li><a href="design-community">The community</a></li>
            <li><a href="starter-guide">Starter kit</a></li>
            <li>Remote access</li>
        </ol>
    </div>

  <div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">Apply for remote access</h1>
        <p class="body-text">
            To enable access to Office 365 on a Macbook
        </p>

        <h1 class="heading-medium">Create a Request for service</h1>

        <ul class="list list-bullet">
            <li>To access Office 360 from your Macbook you'll need to raise a Request for Service via 'mySelfService'.</li>
            <li>Go to the 'Start' menu and select 'All Programs'.  'mySelfService' is under #F6 MY REQUEST HUB'.
                <img src="/public/images/startmenu.png" alt="Start Menu"></li>
            <li>You'll then see the main option screen of the mySelfService.  Click on 'Standard IT request' and then
                type 'remote' to find the 'Remote Access request' option.
                <img src="/public/images/myselfservice.png" alt="my self service" style="width:1000px;height:500px;"></li>
            <li>Click on this option, fill out your details and click 'Raise Request'.
                <img src="/public/images/remoteaccess.png" alt="remote access" style="width:1000px;height:500px;"></li>
            <li>You'll receive an email with the request number. You can use this in Marvel to check the progress of your request.</li>
            <li>Within 15 days you should be able to pick up your 'Entrust' token for second factor authentication.</li>
        </ul>

        <h1 class="heading-medium">Accessing your HM Land Registry mailbox from a personal computer or device.</h1>

        <ul class="list list-bullet">
            <li>To access your HM Land Registry mailbox from a personal computer or device, please navigate to
                <a href="https://login.microsoftonline.com">Microsoft</a> and enter your land registry email</li>
            <li>Clicking in the password box will automatically redirect you
                <img src="/public/images/office365-1.png" alt="office365 1" style="width:1000px;height:500px;"></li>
            <li> Once here, enter your domain password (the one you log into your HM Land Registry computer with) and
                select "Sign in".
                <img src="/public/images/office365-2.png" alt="office365 2" style="width:1000px;height:500px;"></li>
            <li>Two Factor Authentication will be required every time you access your Land Registry mailbox from a personal
                computer or device.</li>
            <li> Please generate a code from your Entrust Security token by holding the button down for a few seconds, then
                enter the code in the box on the web page and select "Submit". </li>
            <li>You can use one of the other authentication options, but only if you have been pre-enrolled and configured for them.
                <img src="/public/images/office365-3.png" alt="office365 3" style="width:1000px;height:500px;"></li>
            <li>Once you have been successfully authenticated, you'll be re-directed to the Office 365 dashboard. Click the
                "Mail" tile to access your work email.
            <img src="/public/images/office365-4.png" alt="office365 4" style="width:1000px;height:500px;"></li>
        </ul>
    </div>
</main>

{% endblock %}
