{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li>Resources</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Resources</h1>

            <p>
                <a class="code" href="#a">A</a>       <a class="code">B</a>       <a class="code" href="#c">C</a>       <a class="code">D</a>
                <a class="code" href="#e">E</a>       <a class="code" href="#f">F</a>       <a class="code" href="#g">G</a>       <a class="code">H</a>
                <a class="code" href="#i">I</a>       <a class="code">J</a>       <a class="code">K</a>       <a class="code" href="#l">L</a>
                <a class="code">M</a>       <a class="code">N</a>       <a class="code">O</a>       <a class="code">P</a>
                <a class="code">Q</a>       <a class="code">R</a>       <a class="code" href="#s">S</a>       <a class="code" href="#t">T</a>
                <a class="code">U</a>       <a class="code">V</a>       <a class="code" href="#w">W</a>       <a class="code">X</a>
                <a class="code">Y</a>       <a class="code">Z</a>
            </p>

            <a name="a"></a>
            <h2 class="heading-medium">
                Accessibility
            </h2>
            <p class="body-text">
                Accessibility needs to be considered right from the start. GOV.UK has a really good
                <a href="https://alphagov.github.io/wcag-primer/#wcag-2-0-getting-started">guide</a> to get you started.
            </p>


            <h2 class="heading-medium">
                Articles
            </h2>
            <ul class="subsection__list">
                <li class="subsection__list-item">
                    <a href="https://digitaltransformation.blog.gov.uk/2014/08/14/9-content-tips-to-help-you-build-a-better-digital-service/">
                        9 content tips to help you build a better service</a>
                </li>
                <li class="subsection__list-item">
                    <a href="https://alistapart.com/topics">A list apart</a>
                </li>
                <li class="subsection__list-item">
                    <a href="https://designnotes.blog.gov.uk/2016/04/21/how-to-make-a-user-journey-map/">How to make a user journey map</a>
                </li>
                <li class="subsection__list-item">
                    <a href="https://intranet.landregistry.gov.uk/task/write-for-land-registry/">
                        Writing for HM Land Registry</a>
                </li>
            </ul>


            <a name="axure"></a>
            <h2 class="heading-medium">
                Axure
            </h2>
            <ul class="subsection__list">
                <li class="subsection__list-item">
                    <a href="https://www.axure.com/">Axure</a>
                </li>
                <li class="subsection__list-item">
                    <p class="body-text">
                        <a href="https://drive.google.com/drive/u/1/folders/0B_uf_jUFJvV_am1JdkRtalU5Z00">Axure library</a>: This is
                        an active document, so if you need a widget that is not present follow these
                        <a href="https://www.axure.com/support/reference/widget-libraries">instructions</a>
                        to create it so the rest of the community can use it as well.
                    </p>
                </li>
            </ul>


            <a name="c"></a>
            <h2 class="heading-medium">
                Content
            </h2>
            <ul class="subsection__list">
                <li class="subsection__list-item">
                    <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">Writing for GOV.UK</a>
                </li>
                <li class="subsection__list-item">
                    Use an <a href="https://www.acronymfinder.com/CPD.html">acronym finder </a> for when you have no idea what it means!
                </li>
                <li class="subsection__list-item">
                    <a href="http://www.plainenglish.co.uk/files/howto.pdf">Plain English writing guide</a>
                </li>
                <li class="subsection__list-item">
                    <a href="http://www.plainenglish.co.uk/files/alternative.pdf"> A-Z of alternative words</a>
                </li>
                <li class="subsection__list-item">
                    <a href="https://docs.google.com/document/d/1zPqSBnh_3tMW4m3uBCtwDwJj-j2o5gIfPRm-1hmuMpQ/edit"> HMLR operations jargon buster</a>
                </li>
            </ul>


            <a name="e"></a>
            <h2 class="heading-medium">
                Expenses
            </h2>
            <p class="body-text">
                Apparently there is process to follow to claim...
            </p>


            <a name="f"></a>
            <h2 class="heading-medium">
                Fonts
            </h2>
            <p class="body-text">
                When creating prototypes for externally facing services, the font
                <a href="https://drive.google.com/drive/folders/0B1ZlxWkPbjnsMERzbUpjU2JwRTA">GDS Transport Website</a> should be used.
            </p>
            <p class="body-text">
                For all internal content Arial should be used.
            </p>


            <a name="g"></a>
            <h2 class="heading-medium">
                Government Digital Services (GDS)
            </h2>
            <p class="body-text">
                GDS have provided a <a href="https://www.gov.uk/service-toolkit">Service toolkit</a> to be used as
                a starting point when designing and building government services.
            </p>
            <p class="body-text">
                For us designers specifically, both the <a href="https://design-system.service.gov.uk/">design system</a> and
                <a href="https://govuk-prototype-kit.herokuapp.com/docs">prototyping kit</a> should be referred to and used.
            </p>
            <p class="body-text">
                GDS also host a number of
                <a href="https://www.gov.uk/government/collections/gds-academy-course-descriptions">courses</a>
                as well as cross-governmental
                <a href="https://designnotes.blog.gov.uk/events-and-training-in-the-user-centred-design-community/">
                    events and training</a> that may be useful.
            </p>


            <a name="i"></a>
            <h2 class="heading-medium">
                In house presentations
            </h2>
            <p class="body-text">
                Lots of talented people work here and have made things that are helpful.
            </p>
            <ul class="subsection__list">
                <li><h3 class="heading-small">Content</h3></li>
                <li class="subsection__list-item">
                    <a href="https://docs.google.com/presentation/d/1RPRb6xrv5RGvj1x4zefKPe01ZZpKcOuKS2gLOWD1Hm4/edit?usp=sharing">
                        Writing in Plain English</a>, by Erin Tregunna
                </li>
                <li class="subsection__list-item">
                    <a href="https://docs.google.com/presentation/d/17LKe9-SGrSbtYtYUzOlBsb4oor440hgi7TgYBdxvdBU/edit?usp=sharing">
                        The Inverted Pyramid</a>, by Erin Tregunna
                </li>
                <li class="subsection__list-item">
                    <a href="https://docs.google.com/presentation/d/10qzKln7qr4tusY87dxZMfR5urX7ATSN7lpfQ03DHQ0I/edit#slide=id.p1">
                        Words matter</a>, by Sam Brierley
                </li>

                <li><h3 class="heading-small">Design</h3></li>
                <li class="subsection__list-item">
                    <a href="https://docs.google.com/presentation/d/1-NXFaIVKhKbPIC-mpRAjWy9GOBmv1gUmAOBEMHGVBmM/edit#slide=id.p">
                        Privacy by design</a>, by Emeric Francis, Erin Tregunna and Rich Gibbons
                </li>
                <li class="subsection__list-item">
                    <a href="https://docs.google.com/presentation/d/1mdx1ffnAsyEoaUHlG4-vNwbwmzBkDAxl3DQNnlGcS0s/edit#slide=id.g1106a41287_0_141">
                        Scripted screenshots</a>, by Andy Porter
                </li>

                <li><h3 class="heading-small">Development</h3></li>
                <li class="subsection__list-item">
                    <a href="https://web.microsoftstream.com/video/ce52f909-4245-444c-96b6-40130a25f9fb?channelId=341ed3a1-0491-433a-be23-6dae43bdadd5&channelName=Lunch%20and%20Learn">
                        An introduction to the common devenv</a>, by Ian Ames
                </li>

                <li><h3 class="heading-small">Team</h3></li>
                <li class="subsection__list-item">
                    <a href="https://web.microsoftstream.com/video/1b33a720-9453-4c81-94f6-3ac1b6ff5078?channelId=341ed3a1-0491-433a-be23-6dae43bdadd5&channelName=Lunch%20and%20Learn">
                        The agile team onion</a>, by Emily Webber
                </li>
                <li class="subsection__list-item">
                    <a href="https://web.microsoftstream.com/video/da442142-1681-4e8f-be70-519894f733f2?channelId=341ed3a1-0491-433a-be23-6dae43bdadd5&channelName=Lunch%20and%20Learn">
                        How to do a great show and tell</a>, by Joe Honywill
                </li>
                <li class="subsection__list-item">
                    <a href="https://web.microsoftstream.com/video/ee3d237e-597d-4a1d-8024-e0466769766d">
                        How we do discoveries</a>, by Emily Webber and George Sheldrake
                </li>

                <li><h3 class="heading-small">Testing</h3></li>
                <li class="subsection__list-item">
                    <a href="https://web.microsoftstream.com/video/8bd89ab9-618c-430f-b7fb-982662affc9a?channelId=341ed3a1-0491-433a-be23-6dae43bdadd5&channelName=Lunch%20and%20Learn">
                        Cucumber for non-testers</a>, by Heather Poole
                </li>

                <li><h3 class="heading-small">User research</h3></li>
                <li class="subsection__list-item">
                    <a href="https://web.microsoftstream.com/video/7ddef851-f37d-4c40-870e-e866efb9b724?channelId=341ed3a1-0491-433a-be23-6dae43bdadd5&channelName=Lunch%20and%20Learn">
                        How to do a user research session</a>, by Jay Spanton, Paul Bishop and Morag Phillips
                </li>
            </ul>


            <a name="l"></a>
            <h2 class="heading-medium">
                Library
            </h2>
            <p class="body-text">
                The community has a number of books available to borrow:
            </p>
            <div style="margin-left: 30px;">
                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item" >
                        Designing Design
                    </li>
                    <li class="column-half">
                        Kenya Hara
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        The Design of Everyday Things
                    </li>
                    <li class="column-half">
                        Don Norman
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Don’t Make Me Think
                    </li>
                    <li class="column-half">
                        Steve Krug
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        The Back of the Napkin
                    </li>
                    <li class="column-half">
                        Dan Roam
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        The Elements of User Experience
                    </li>
                    <li class="column-half">
                        Jesse James Garrett
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Don’t Make Me Think
                    </li>
                    <li class="column-half">
                        Steve Krug
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Understanding Comics: The Invisible Art
                    </li>
                    <li class="column-half">
                        Scott McCloud
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Forms that work: Designing web forms for usability
                    </li>
                    <li class="column-half">
                        Caroline Jarrett and Gerry Gaffney
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Universal Principles of Design, Revised and Updated
                    </li>
                    <li class="column-half">
                        William Lidwell, Kritina Holden, Jill Butler
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Designing Web Usability: The Practice of Simplicity
                    </li>
                    <li class="column-half">
                        Nielsen, J
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Prioritising Web Usability
                    </li>
                    <li class="column-half">
                        Nielsen, J., & Langer, H.
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Lean UX
                    </li>
                    <li class="column-half">
                        Gothelf/Seiden
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        100 Things Every Designer Needs to Know About People
                    </li>
                    <li class="column-half">
                        Susan Weinschenk
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Design Is A Job
                    </li>
                    <li class="column-half">
                        Mike Monteiro
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        Handbook of Usability Testing
                    </li>
                    <li class="column-half">
                        Rubin and Chisnell
                    </li>
                </ul>

                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        User centred web design
                    </li>
                    <li class="column-half">
                        John Cato
                    </li>
                </ul>
                <ul class="grid-row subsection__list" style="font-size: 16px;">
                    <li class="column-half subsection__list-item">
                        The small big
                    </li>
                    <li class="column-half">
                        Martin Goldstein an Cialdini
                    </li>
                </ul>
            </div>


            <h2 class="heading-medium">Lunch and learn</h2>
            <ul class="subsection__list">
                <li class="subsection__list-item">
                    Many of the in house presentations mentioned here are from lunch and learn sessions. These are a regular event, and the
                    recording is uploaded to a <a href="https://web.microsoftstream.com/channel/341ed3a1-0491-433a-be23-6dae43bdadd5">
                    lunch and learn</a> stream afterwards.
                </li>
            </ul>


            <a name="s"></a>
            <h2 class="heading-medium">
                Screenshoting
            </h2>
            <p class="body-text">
                We all need to take screen shots from time to time, and there are some nifty tools out there to help.
            </p>
            <ul class="subsection__list" >
                <li class="subsection__list-item">
                    <a href="https://chrome.google.com/webstore/detail/awesome-screenshot-app/mfpiaehgjbbfednooihadalhehabhcjo?hl=en">
                        Awesome screenshot</a> is a google chrome extension for taking and annotating screenshots. There is also a
                    <a href="https://chrome.google.com/webstore/detail/awesome-screenshot-screen/nlipoenfbbikpbjkfpfillcgkoblgpmj">
                        screen video recorder</a>, which can be useful.
                </li>
                <li class="subsection__list-item">
                    <a href="https://chrome.google.com/webstore/detail/full-page-screen-capture/fdpohaocaechififmbbbbbknoalclacl">
                        Full page screen capture</a> is a google chrome extension used to capture the entire page of your
                    current browser window.
                </li>
                <li class="subsection__list-item">
                    <a href="https://chrome.google.com/webstore/detail/nimbus-screenshot-screen/bpconcjcammlapcogcnnelfmaeghhagj?hl=en">
                        Nimbus</a> is another full screen capture extension for chrome that can capture video's as well.
                </li>
                <li class="subsection__list-item">
                    Andy held a <a href="https://docs.google.com/presentation/d/1mdx1ffnAsyEoaUHlG4-vNwbwmzBkDAxl3DQNnlGcS0s/edit#slide=id.g1106a41287_0_141">
                    design noodle</a> session to tell us about <a href="https://github.com/joelanman/wshot/blob/master/README.md">
                    WShot</a>, a command line app to take screenshots of web page created by Joe Lanman.
                </li>
            </ul>



            <h2 class="heading-medium">
                Sketch
            </h2>
            <p class="body-text">
                Sketch is mainly used to create service maps and journeys. It can be <a href="https://www.sketchapp.com/">
                downloaded</a> for free and a key requested through mySelfServe for its continued use.
            </p>
            <p class="body-text">
                It can also be used for creating wireframes and static prototypes. There is a <a href="https://github.com/abbott567/sketch_wireframing_kit">
                sketch wireframing kit</a> available to make this easier.
            </p>
            <p class="body-text">
                If you haven't used sketch before, it is worth checking out some <a href="tutorials#sketch">tutorials</a>.
            </p>


            <a name="t"></a>
            <h2 class="heading-medium">
                Text editors
            </h2>
            <p class="body-text">
                When prototyping in code, you are going to need an editor to work in. There are several available. Some
                commonly used at HM Land Registry include:
            </p>
            <ul class="subsection__list" >
                <li class="subsection__list-item">
                    <a href="https://atom.io/">Atom</a> is a text editor that's modern, approachable, yet hackable to the
                    core - a tool you can customize to do anything but also use productively without ever touching a config file.
                </li>
                <li class="subsection__list-item">
                    <a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a>
                </li>
                <li class="subsection__list-item">
                    <a href="https://www.sublimetext.com/">Sublime text</a> is a sophisticated text editor for code, markup
                    and prose. You’ll love the slick user interface, extraordinary features and amazing performance.
                </li>
                <li class="subsection__list-item">
                    <a href="https://itunes.apple.com/gb/app/textwrangler/id404010395?mt=12">TextWrangler</a>'s features
                    include "grep" (regular-expression) pattern matching, search and replace across multiple files, function
                    navigation and syntax coloring for numerous source code languages, code folding, FTP and SFTP open and
                    save, AppleScript, Mac OS X Unix scripting support, and much more.
                </li>
            </ul>


            <h2 class="heading-medium">
                Tutorials
            </h2>
            <p class="body-text">
                The different applications that we use also have their own <a href="tutorials">tutorials</a>
                that may be useful.
            </p>


            <a name="w"></a>
            <h2 class="heading-medium">
                Weekly meetings
            </h2>
            <p class="body-text">
                We have a <a href="starter-guide">trello</a> board to track what is being talked about. There is a
                <a href="https://docs.google.com/spreadsheets/d/1O_41L_TlxKlYjRyF_BfW_rOM0x10bFxQc7MGwRXZuD4/edit#gid=0">
                    rota</a> for taking <a href="https://drive.google.com/drive/folders/16c2Heul5wsy9IyPwixLtZEC6JN0XhzX5">notes</a>.
            </p>
        </div>
    </div>
</main>


{% endblock %}
