{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="starterguide">Back</a>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Sketch
            </h1>
            <p class="body-text">
              To enable running of vector grtaphics editor
            </p>
          </legend>

          <h1 class="heading-medium">
            Apply for licence
          </h1>

          <ul class="list list-bullet">
            <li>To request installation of the software you will need to raise a Request for Service via 'MySelfService'.</li>
            <p></p>
            <li>Go to the 'Start' menu and select 'All Programs'.  'MySelfService' is under #F6 MY REQUEST HUB'.</li>
            <p></p>
            <p></p>
            <img src="/public/images/startmenu.png" alt="Start Menu">
            <p></p>
            <p></p>
            <li>You will then see the main option screen of the mySelfService.  Click on 'Standard IT request' and then type 'software' to find the 'Software install/ Renew/ Removal or Transfer Request' option.</li>
            <p></p>
            <p></p>
            <img src="/public/images/myselfservice.png" alt="my self service" style="width:1000px;height:500px;">
            <p></p>
            <p></p>
            <li>Click on this option, fill out your details and click 'Raise Request'.</li>
            <p></p>
            <p></p>
            <img src="/public/images/remoteaccess.png" alt="remote access" style="width:1000px;height:500px;">
            <p></p>
            <p></p>
            <li>You will receive an email with the request number which you can use in the Marvel system to check progress of your request.</li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Download Sketch
          </h1>

          <ul class="list list-bullet">
            <li>Go to www.sketchapp.com and click on the top right 'Free Trial' option.</li>
            <p></p>
            <li>This will download a 30 day free trial for you to install on the Macbook whilst you wait for the RFS to complete.</li>
            <p></p>
            <li>Once your RFS has provided you with a licence number you can input this into Sketch by clicking on the 'Sketch' option in the top left of the screen and then the 'About and Registration' option (Screenshots shown below).</li>
            <p></p>
            <li>This will make your version of Sketch official.</li>
            <p></p>
            <p></p>
            <img src="/public/images/sketch1.png" alt="sketch1" style="width:1000px;height:500px;">
            <p></p>
            <p></p>
          </ul>

          <h1 id="training" class="heading-medium">
            Training
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://www.sketchapp.com/docs/getting-started/">Official Sketch training</a></li>
            <p></p>
            <li><a href="https://www.udemy.com/courses/search/?q=sketch&src=sac&kw=sketch">Paid Udemy course</a></li>
            <p></p>
            <li><a href="https://webdesign.tutsplus.com/tutorials/sketch-for-beginners-design-a-login-form-interface--cms-21534">Free course</a></li>
            <p></p>
          </ul>


        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
