{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li><a href="design-community">The community</a></li>
            <li><a href="starter-guide">Starter kit</a></li>
            <li>Sketch</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Sketch</h1>
            <p class="body-text">
                To enable running of vector graphics editor
            </p>

            <h1 class="heading-medium">Apply for licence</h1>

            <ul class="list list-bullet">
                <li>To request installation of the software you will need to raise a Request for Service via 'MySelfService'.</li>
                <li>Go to the 'Start' menu and select 'All Programs'.  'MySelfService' is under #F6 MY REQUEST HUB'.
                    <img src="/public/images/startmenu.png" alt="Start Menu"></li>
                <li>You'll then see the main option screen of the mySelfService.  Click on 'Standard IT request' and then
                    type 'software', in the search bar, to find the 'Software install/ Renew/ Removal or Transfer Request' option.
                    <img src="/public/images/myselfservice.png" alt="my self service" style="width:1000px;height:500px;"></li>
                <li>Click on this option, fill out your details and click 'Raise Request'.
                    <img src="/public/images/remoteaccess.png" alt="remote access" style="width:1000px;height:500px;"></li>
                <li>You'll receive an email with the request number which you can use in the Marvel system to check the progress
                    of your request.</li>
            </ul>

            <h1 class="heading-medium">Download Sketch</h1>

            <ul class="list list-bullet">
                <li>Download and install the free trial of <a href="https://www.sketchapp.com/">sketch</a>.</li>
                <li>Once your RFS has provided you with a licence number, you can input this into Sketch by clicking on
                    the 'Sketch' option in the top left of the screen and then the 'About and Registration' option to make
                    your version of Sketch official.<img src="/public/images/sketch1.png" alt="sketch1" style="width:1000px;height:500px;"></li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}
