{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="starterguide">Back</a>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Slack
            </h1>
            <p class="body-text">
              To enable access to the slack collaboration and communication tool
            </p>
          </legend>

          <h1 class="heading-medium">
            Create Slack account
          </h1>

          <ul class="list list-bullet">
            <li>Go to <a href="https://slack.com">Slack.com</a> and sign up with your work email to get a free account.</li>
            <p></p>
            <li>You will then be taken to a page where you can click 'Find your slack workspace'.</li>
            <p></p>
            <li>Click this and it will send a confirmation email to your email address. </li>
            <p></p>
            <li>You need to keep in mind that if you do not yet have remote access to your outlook on your Macbook you will need to forward any confirmation emails to an email account that you can access on your Macbook.</li>
          </ul>

          <h1 class="heading-medium">
            Join Slack workspaces
          </h1>

          <ul class="list list-bullet">
            <li>Once all confirmed you will need to join the following workspaces</li>
            <p></p>
            <li>landregistry.slack.com</li>
            <li>ukgovernmentdigital.slack.com</li>
          </ul>

          <h1 id="training" class="heading-medium">
            Training
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://get.slack.help/hc/en-us/articles/218080037-Getting-started-for-new-members">Official Slack training</a></li>
            <p></p>
          </ul>


        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
