{% extends "layout.html" %}

{% block page_title %}
  Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Design Community</a></li>
      <li><a href="design-community">The community</a></li>
      <li><a href="starter-guide">Starter kit</a></li>
      <li>Slack</li>
    </ol>
  </div>


  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Slack</h1>
      <p class="body-text">
          Get started on Slack for collaborating and communicating
      </p>

      <h1 class="heading-medium">Create a Slack account</h1>

      <ul class="list list-bullet">
        <li>Go to <a href="https://slack.com">Slack.com</a> and sign up with your work email address for a free account.</li>
        <li>You'll then be taken to a new page where you can click 'Find your Slack workspace'.</li>
        <li>Click this link and you'll get a confirmation email. </li>
        <li>If you don't have remote access to your outlook on your Macbook, you'll need to forward any confirmation
          emails to an email account that you can access on your Macbook.</li>
      </ul>

      <h1 class="heading-medium">Join Slack workspaces</h1>

      <ul class="list list-bullet">
        <li>You'll need to join the <a href="https://landregistry.slack.com">landregistry.slack.com</a> and the
          <a href="https://ukgovernmentdigital.slack.com/">ukgovernmentdigital.slack.com</a> workspaces.</li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
