{% extends "layout.html" %}

{% block page_title %}
  Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li><a href="design-community">The community</a></li>
            <li>Starter kit</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">HMLR designer starter kit</h1>

            <p class="body-text">
                Take some time to go through these steps. If you want any help - please ask any member of the community!
            </p>

            <!-- Step by step guide -->
            <div class="gem-c-step-nav gem-c-step-nav--large">
                <ol class="gem-c-step-nav__steps">

                    <!-- Step 1 -->
                    <li class="gem-c-step-nav__step js-step" id="check-youre-allowed-to-drive" data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header">
                            <h2 class="gem-c-step-nav__title heading-large">
                                <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                                    <span class="gem-c-step-nav__circle-inner">
                                        <span class="gem-c-step-nav__circle-background">
                                            1
                                        </span>
                                    </span>
                                </span>

                                Apply for remote access
                                <p class="subsection__description">
                                    <a href="remote-access">Remote access</a> will be required in order access to
                                    Office 365 from a non-diti computer.
                                </p>
                            </h2>
                        </div>
                    </li> <!-- Step 1 -->

                    <!-- Step 2 -->
                    <li class="gem-c-step-nav__step js-step" id="check-youre-allowed-to-drive" data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="1">
                            <h2 class="gem-c-step-nav__title">
                                <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                                    <span class="gem-c-step-nav__circle-inner">
                                        <span class="gem-c-step-nav__circle-background">
                                            2
                                        </span>
                                    </span>
                                </span>

                                Create accounts
                                <p class="subsection__description">
                                    You will need to create accounts for <a href="google">Google</a>, <a href="trello">Trello</a>,
                                    <a href="slack">slack</a>, <a href="github">github</a> and <a href="heroku">heroku</a>.
                                </p>
                            </h2>
                        </div>
                    </li> <!-- Step 2 -->

                    <!-- Step 3 -->
                    <li class="gem-c-step-nav__step js-step" id="get-a-provisional-licence" data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="2">
                            <h2 class="gem-c-step-nav__title">
                                <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                                    <span class="gem-c-step-nav__circle-inner">
                                        <span class="gem-c-step-nav__circle-background">
                                            3
                                        </span>
                                    </span>
                                </span>

                                <!-- Request and install software -->
                                Request and install software
                                <p class="subsection__description">
                                    The <a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK prototype kit</a> is used
                                    to create prototypes. For medium fidelity prototypes, <a href="axure">axure</a> can be used.
                                </p>
                                <p class="subsection__description">
                                    Other useful software include <a href="omnigraffle">omnigraffle</a> and <a href="sketch">sketch</a>,
                                    either of which are used to create service maps or journey diagrams.
                                </p>
                            </h2>
                        </div>
                    </li> <!-- Step 3 -->

                    <!-- Step 4 -->
                    <li class="gem-c-step-nav__step js-step" id="driving-lessons-and-practice" data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="3">
                            <h2 class="gem-c-step-nav__title">
                                <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                                    <span class="gem-c-step-nav__circle-inner">
                                        <span class="gem-c-step-nav__circle-background">
                                            4
                                        </span>
                                    </span>
                                </span>

                                <!-- Join community platforms -->
                                Training
                                <p class="subsection__description">
                                    GDS host a number of
                                    <a href="https://www.gov.uk/government/collections/gds-academy-course-descriptions">courses</a>
                                    as well as cross-governmental
                                    <a href="https://designnotes.blog.gov.uk/events-and-training-in-the-user-centred-design-community/">
                                        events and training</a> that may be useful.
                                </p>
                                <p class="subsection__description">
                                    The different applications that we use also have their own <a href="tutorials">tutorials</a>
                                    that may be useful.
                                </p>
                            </h2>
                        </div>
                    </li> <!-- Step 4 -->

                    <!-- Step 5 -->
                    <li class="gem-c-step-nav__step js-step" id="book-and-manage-your-theory-test" data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="5">
                            <h2 class="gem-c-step-nav__title">
                                <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                                    <span class="gem-c-step-nav__circle-inner">
                                        <span class="gem-c-step-nav__circle-background">
                                            5
                                        </span>
                                    </span>
                                </span>

                                Get included
                                <p class="subsection__description">
                                    Join our community <a href="email-list">email distribution list</a> to be kept in the loop. There
                                    are other <a href="https://www.gov.uk/service-manual/communities">communities</a> across
                                    government that you might like to join as well.
                                </p>
                            </h2>
                        </div>
                    </li>
                </ol>
            </div> <!-- step by step guide -->
        </div>
    </div> <!-- grid row -->
</main>

{% endblock %}
