{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
<a class="link-back" href="index">Back</a>
            <!-- Beta banner -->
            <div class="govuk-beta-label">
            <p><strong class="phase-tag">Beta</strong>
            <span>
                This is a work in progress, please bear with us :)</a>
            </span>
            </p>
            </div>

            <!-- Breadcrumbs -->
            <div class="breadcrumbs">
              <ol>
                <li><a href="/homepage">Home</a></li>
                <li><a href="/starterguide">Starter guide</a></li>
              </ol>
            </div>

  <div class="grid-row">
    <div class="column-two-thirds">

                  <!-- Tab name -->
                  <head>
                  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                  <meta charset="utf-8">
                  <title>Starter guide</title>

                  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
                  <!--<![endif]-->
                  <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
                  <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
                  <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
                  <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">
                  <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
                  <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
                  <!--<![endif]-->
                  <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js" crossorigin="anonymous" integrity="sha256-pFJFRKU9V6fiWbS7lmucMlV8mMkgt35S0JMEZCtoQBo="></script><![endif]-->
                  <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
                  <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
                  <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
                  <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
                  <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
                  <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">
                  <meta name="theme-color" content="#0b0c0c">
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                  <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
                  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-8ddb71b3be4fc568988b8ed41334d3a733fec66bb329b6257bc37e7d8d3becdf.css" crossorigin="anonymous" integrity="sha256-jdtxs75PxWiYi47UEzTTpzP+xmuzKbYle8N+fY077N8=">
                  <!--<![endif]-->
                  <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-d3691059a12cddfd1d1a52d5bce5930410983abd4bf2a1dfbf37c3bda15d4703.css" /><script>var ieVersion = 6;</script><![endif]-->
                  <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-8eed703f45167cda9a862c02481776d9a5d8e0660ee7edfb287d017f346105a0.css" /><script>var ieVersion = 7;</script><![endif]-->
                  <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-a67cc07ab4c8c0b22bb322e2585094b1f291c4c8ba6f7e02e411ac31cb196706.css" /><script>var ieVersion = 8;</script><![endif]-->
                  <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-07d9f2ae45b9bf761acf17c7ec414a9493f1a7cf1c8278b7ad5497cdd73eee84.css" crossorigin="anonymous" integrity="sha256-B9nyrkW5v3YazxfH7EFKlJPxp88cgni3rVSXzdc+7oQ=">
                  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-8942242f83f4b1b367021a0f9adea5184a5a18d49434beacee3448f25551d4ec.css">
                  <!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/collections/print-abb030f9aee878cd44cdca448d82642f85c8730de4cc01dd1bddab4ef4a3e848.css" crossorigin="anonymous" integrity="sha256-q7Aw+a7oeM1EzcpEjYJkL4XIcw3kzAHdG92rTvSj6Eg=">
                  <meta name="csrf-param" content="authenticity_token">
                  <meta name="csrf-token" content="Bv66UG+XyI99aX5nziqhLSoke30mTKmrEeHHm37wnXjcMqj8Eqtnc3wf2krkGsKOotQJ6zEHBmNG5zH4qpg0PQ==">
                  <meta name="govuk:content-id" content="e01e924b-9c7c-4c71-8241-66a575c2f61f">
                  <meta name="description" content="Learn to drive a car in the UK - get a provisional licence, take driving lessons, prepare for your theory test, book your practical test">
                  <meta name="govuk:format" content="step_by_step_nav">
                  <meta name="govuk:schema-name" content="step_by_step_nav">
                  <meta name="govuk:analytics:organisations" content="<D9><EA74><EA570>">
                  <meta name="govuk:user-journey-stage" content="thing">
                  <meta name="govuk:navigation-document-type" content="other">
                  <meta name="govuk:themes" content="transport/all">
                  <meta name="govuk:taxon-id" content="377d3d35-4bc8-45a5-99be-d0ac4f25437f">
                  <meta name="govuk:taxon-ids" content="377d3d35-4bc8-45a5-99be-d0ac4f25437f">
                  <meta name="govuk:taxon-slug" content="driving-licence-applications-and-renewals">
                  <meta name="govuk:taxon-slugs" content="driving-licence-applications-and-renewals">
                  <meta name="govuk:content-has-history" content="true">
                  <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie6-f882d2829348cdee12903543fa82704343a74707d41516f842b8feb81841eb0b.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie7-aefd1d8d566a49d13308c69d1bc080ec9d0005fe0b08d993e19013088e5e3fe6.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie8-969108156fe1de4b2b45874bc4aa810269662de73412d1ba882430ca6ee87d4a.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="collections">
                  </head>

                  <body class="js-enabled">
                  <script async="" src="https://www.google-analytics.com/analytics.js"></script><script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

        <div id="skiplink-container">
        <div>
        <a href="#content" class="skiplink">Skip to main content</a>
        </div>
        </div>

        <div class="wrapper" id="wrapper">

        <!-- Page title -->
        <div class="pub-c-title">
        <h1 class="pub-c-title__text pub-c-title__text--long">HMLR designer starter kit</h1>
        </div>

        <!-- Title description -->
        <div class="govuk-govspeak">
        <p>Everything you need all in one place.</p>
        </div>
        </div>

        <!-- Step by step guide -->
        <div data-module="gemstepnav" class="gem-c-step-nav gem-c-step-nav--large gem-c-step-nav--active">
        <ol class="gem-c-step-nav__steps">
          <li class="gem-c-step-nav__step js-step" id="check-youre-allowed-to-drive" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="gem-c-step-nav__title">
                <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                  <span class="gem-c-step-nav__circle-inner">
                    <span class="gem-c-step-nav__circle-background">
                        <span class="visuallyhidden">Step</span> 1
                    </span>
                  </span>
                </span>

                <!-- Create accounts -->
                <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1"><span class="js-step-title-text">
                  Remote access
                </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span></button></span>
              </h2>
            </div>

            <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
            <!-- <p class="gem-c-step-nav__paragraph">You will need these to do your dayjob.</p> -->
            <ol class="gem-c-step-nav__list " data-length="3">
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.1" class="gem-c-step-nav__link js-link" href="remote-access">Apply for remote access</a></li>
            </ol>
            </div>

          </li>
        <li class="gem-c-step-nav__step js-step" id="check-youre-allowed-to-drive" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Step</span> 2
                  </span>
                </span>
              </span>

              <!-- Create accounts -->
              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1"><span class="js-step-title-text">
                Create accounts
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span></button></span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
          <!-- <p class="gem-c-step-nav__paragraph">You will need these to do your dayjob.</p> -->
          <ol class="gem-c-step-nav__list " data-length="3">
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.1" class="gem-c-step-nav__link js-link" href="google">Google</a></li>
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.2" class="gem-c-step-nav__link js-link" href="trello">Trello</a></li>
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.3" class="gem-c-step-nav__link js-link" href="slack">Slack</a></li>
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.4" class="gem-c-step-nav__link js-link" href="github">Github</a></li>
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.5" class="gem-c-step-nav__link js-link" href="heroku">Heroku</a></li>
          </ol>
          </div>
        </li>

        <li class="gem-c-step-nav__step js-step" id="get-a-provisional-licence" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Step</span> 3
                  </span>
                </span>
              </span>

              <!-- Request and install software -->
              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2"><span class="js-step-title-text">
                Request and install software
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span></button></span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
          <!-- <p class="gem-c-step-nav__paragraph">You will need these to do your dayjob.</p> -->
          <ol class="gem-c-step-nav__list " data-length="3">
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.1" class="gem-c-step-nav__link js-link" href="prototype-kit">Prototype kit</a></li>
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.2" class="gem-c-step-nav__link js-link" href="axure">Axure</a></li>
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.3" class="gem-c-step-nav__link js-link" href="omnigraffle">Omnigraffle</a></li>
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.4" class="gem-c-step-nav__link js-link" href="sketch">Sketch</a></li>
            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.5" class="gem-c-step-nav__link js-link" href="adobe">Adobe cc</a></li>
          </ol>
          </div>
        </li>

        <li class="gem-c-step-nav__step js-step" id="driving-lessons-and-practice" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Step</span> 4
                  </span>
                </span>
              </span>

              <!-- Join community platforms -->
              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3"><span class="js-step-title-text">
                Training
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span></button></span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
          <!-- <p class="gem-c-step-nav__paragraph"></p> -->
            <ol class="gem-c-step-nav__list " data-length="4">
              <li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.1" class="gem-c-step-nav__link js-link" href="training">Training links</a></li>
            </ol>
          </div>
        </li>

        <li class="gem-c-step-nav__step js-step" id="book-and-manage-your-theory-test" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Step</span> 5
                  </span>
                </span>
              </span>

              <!-- Read some useful stuff -->
              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-theory-test-5"><span class="js-step-title-text">
                Read some useful stuff
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span></button></span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
              <ol class="gem-c-step-nav__list " data-length="5">
                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.1" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/service-manual">Service Manual</a></li>
                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.2" class="gem-c-step-nav__link js-link" href="https://govuk-elements.herokuapp.com">Prototype Elements</a></li>
                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.3" class="gem-c-step-nav__link js-link" href="https://paper.dropbox.com/doc/GOV.UK-Design-Patterns-Wiki-hkou7bpzKya8Dadv24V1z">Design Patterns</a></li>
                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.4" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">Style a-z</a></li>
                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.5" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/service-manual/communities">Communities</a></li>
              </ol>
          </div>
        </li>

        <li class="gem-c-step-nav__step js-step" id="book-and-manage-your-driving-test" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Step</span> 6
                  </span>
                </span>
              </span>

              <!-- Connect with other designers-->
              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-driving-test-6"><span class="js-step-title-text">
                Connect with other designers
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span></button></span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
              <ol class="gem-c-step-nav__list " data-length="5">
                              <li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.1" class="gem-c-step-nav__link js-link" href="email-list">Join email distrubution list</a></li>
                              <li> Attend design meet</li>
              </ol>
          </div>
        </li>

        <li class="gem-c-step-nav__step js-step" id="when-you-pass" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Step</span> 7
                  </span>
                </span>
              </span>

              <!-- Have fun -->
              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span class="js-step-title-text">
                Have fun :)
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span></button></span>
            </h2>
          </div>

        </li>
        </ol>

  </div>

  </div>
</div>
    </main>
      </div>
    </div>

  </div>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36">
        <input name="email_survey_signup[survey_id]" type="hidden" value="user_satisfaction_survey">
        <input name="email_survey_signup[survey_source]" type="hidden" value="https://www.gov.uk/learn-to-drive-a-car">
        <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">
        <!-- <h2 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h2> -->
        <!-- <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p> -->
        <input class="gem-c-input " id="input-501da4d4" name="email_survey_signup[email_address]" type="email" aria-describedby="survey_explanation">
        <input class="gem-c-feedback__submit" type="submit" value="Send me the survey">
        <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/learn-to-drive-a-car&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
      </div>
    </div>
  </form>
</div>
  </div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-d4ba5ab8f60c9df5c733e7d3c7c469ff93dc6b64d2b2a8feb94afa8f77c66193.js" crossorigin="anonymous" integrity="sha256-1LpauPYMnfXHM+fTx8Rp/5Pca2TSsqj+uUr6j3fGYZM="></script>
    <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js" crossorigin="anonymous" integrity="sha256-XxFXpDPCdry5jzZRQ098sfSf9F/i7CgItG7giOYRWbU="></script>
    <script src="https://assets.publishing.service.gov.uk/static/header-footer-only-fafb5f177839ed067265c412a7b02814c4873d689ce7ad001bd97e323b1f2287.js" crossorigin="anonymous" integrity="sha256-+vtfF3g57QZyZcQSp7AoFMSHPWic560AG9l+MjsfIoc="></script>
    <script src="https://assets.publishing.service.gov.uk/static/surveys-0d86371aa3b7454b07a5045a026cf00fc7c405bff02e06be7d4703391c422f23.js" crossorigin="anonymous" integrity="sha256-DYY3GqO3RUsHpQRaAmzwD8fEBb/wLga+fUcDORxCLyM="></script>
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
    <script src="https://assets.publishing.service.gov.uk/collections/application-974fcf3c90d08edd779359e33149f6e888462fd0709ee0a9d2402e4614c3cdd7.js"></script>
</body>

    </div>
  </div>
</main>

{% endblock %}
