{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<style>
#footer {display:none;}
#global-header-bar {display:none;}
.header-logo {display:none;}
@font-face {font-family: Helvetica;}
#content {color: #000000}
h2 {color: black;}
h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="starterguide">Back</a>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Training
            </h1>
            <p class="body-text">
              Follow these links to access training courses
            </p>
          </legend>

          <h1 class="heading-medium">
            GDS
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://www.gov.uk/government/collections/gds-academy-course-descriptions"> Access to GDS training courses</a></li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Adobe
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://helpx.adobe.com/uk/support.html?promoid=RGJ8NLP8&mv=other">Official Adobe</a></li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Axure
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://www.axure.com/support/training/core/1-basics">Official Axure training</a></li>
            <p></p>
            <li><a href="https://www.udemy.com/courses/search/?q=axure&src=ukw">Paid Udemy course</a></li>
            <p></p>
            <li><a href="https://www.youtube.com/results?search_query=axure+rp+8+tutorials">Youtube tutorials</a></li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Omnigraffle
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://support.omnigroup.com/documentation/omnigraffle/mac/6.5/en/getting-started-with-omnigraffle/">Official Omnigraffle training</a></li>
            <p></p>
            <li><a href="https://www.lynda.com/OmniGraffle-training-tutorials/265-0.html">Paid Lynda course</a></li>
            <p></p>
            <li><a href="https://webdesign.tutsplus.com/articles/a-beginners-guide-to-wireframing-in-omnigraffle--webdesign-8840">Free course</a></li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Sketch
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://www.sketchapp.com/docs/getting-started/">Official Sketch training</a></li>
            <p></p>
            <li><a href="https://www.udemy.com/courses/search/?q=sketch&src=sac&kw=sketch">Paid Udemy course</a></li>
            <p></p>
            <li><a href="https://webdesign.tutsplus.com/tutorials/sketch-for-beginners-design-a-login-form-interface--cms-21534">Free course</a></li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Slack
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://get.slack.help/hc/en-us/articles/218080037-Getting-started-for-new-members">Official Slack training</a></li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Trello
          </h1>

          <ul class="list list-bullet">
            <li><a href="https://trello.com/guide">Official Trello training</a></li>
            <p></p>
          </ul>


          <h1 class="heading-medium">
            Github
          </h1>

          <ul class="list list-bullet">
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
          </ul>

          <h1 class="heading-medium">
            Heroku
          </h1>

          <ul class="list list-bullet">
            <li>xxxx</li>
            <p></p>
            <li>xxxx</li>
            <p></p>
          </ul>



        </fieldset>

      </form>

    </div>
  </div>
</main>

{% endblock %}
