{% extends "layout.html" %}

{% block page_title %}
    Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <ol>
            <li><a href="/index">Design Community</a></li>
            <li><a href="design-community">The community</a></li>
            <li><a href="starter-guide">Starter kit</a></li>
            <li>Tutorials</li>
        </ol>
    </div>

    <div class="grid-row">
        <h1 class="heading-large">Tutorials</h1>
        <p class="body-text">
            Follow these links to access online tutorials
        </p>

        <div class="grid-row">
            <div class="column-half">
                <h1 class="heading-medium">Adobe</h1>

                <ul class="list list-bullet">
                    <li><a href="https://helpx.adobe.com/uk/support.html?promoid=RGJ8NLP8&mv=other">Adobe help center</a></li>
                </ul>
            </div>
            <div class="column-half">
                <h1 class="heading-medium">Axure</h1>

                <ul class="list list-bullet">
                    <li><a href="https://www.axure.com/support/training/core/1-basics">Getting started in Axure</a></li>
                    <li><a href="https://www.udemy.com/courses/search/?q=axure&src=ukw">Udemy courses (these must be paid for)</a></li>
                    <li><a href="https://www.youtube.com/results?search_query=axure+rp+8+tutorials">Youtube tutorials</a></li>
                </ul>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-half">
                <h1 class="heading-medium">GitHub</h1>

                <ul class="list list-bullet">
                    <li><a href= "https://services.github.com/on-demand/">On demand training</a> </li>
                    <li><a href = "https://www.pluralsight.com/courses/code-school-mastering-github">Code School: Mastering GitHub</a></li>
                </ul>
            </div>

            <div class="column-half">
                <h1 class="heading-medium">Heroku</h1>

                <ul class="list list-bullet">
                    <li><a href="https://devcenter.heroku.com">Dev centre</a></li>
                    <li><a href ="https://govuk-prototype-kit.herokuapp.com/docs/publishing-on-heroku">Publishing on Heroku</a> </li>
                </ul>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-half">
                <h1 class="heading-medium">Omnigraffle</h1>

                <ul class="list list-bullet">
                    <li><a href="https://support.omnigroup.com/documentation/omnigraffle/mac/6.5/en/getting-started-with-omnigraffle/">
                        Omnigraffle training</a></li>
                    <li><a href="https://www.lynda.com/OmniGraffle-training-tutorials/265-0.html">Lynda course (these must be paid for)</a></li>
                    <li><a href="https://webdesign.tutsplus.com/articles/a-beginners-guide-to-wireframing-in-omnigraffle--webdesign-8840">
                        Beginners guide to wireframing in omnigraffle</a></li>
                </ul>
            </div>
            <div class="column-half"><a name="sketch"></a>
                <h1 class="heading-medium">Sketch</h1>

                <ul class="list list-bullet">
                    <li><a href="https://www.sketchapp.com/docs/getting-started/">Getting started in Sketch</a></li>
                    <li><a href="https://www.udemy.com/courses/search/?q=sketch&src=sac&kw=sketch">Udemy course (these must be paid for)</a></li>
                    <li><a href="https://webdesign.tutsplus.com/tutorials/sketch-for-beginners-design-a-login-form-interface--cms-21534">
                        Sketch tutorial for beginners</a></li>
                </ul>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-half">
                <h1 class="heading-medium">Slack</h1>

                <ul class="list list-bullet">
                    <li><a href="https://get.slack.help/hc/en-us/articles/218080037-Getting-started-for-new-members">
                        Getting started in Slack</a></li>
                </ul>
            </div>

            <div class="column-half">
                <h1 class="heading-medium">Trello</h1>

                <ul class="list list-bullet">
                    <li><a href="https://trello.com/guide">Getting started in Trello</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

{% endblock %}
