{% extends "layout.html" %}

{% block page_title %}
  Design community
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

        <html lang="en"><!--<![endif]--><head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
        <!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
        <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">
        <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
        <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
        <!--<![endif]-->
        <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js" crossorigin="anonymous" integrity="sha256-pFJFRKU9V6fiWbS7lmucMlV8mMkgt35S0JMEZCtoQBo="></script><![endif]-->
        <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
        <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
        <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
        <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
        <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">
        <meta name="theme-color" content="#0b0c0c">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
        <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-8ddb71b3be4fc568988b8ed41334d3a733fec66bb329b6257bc37e7d8d3becdf.css" crossorigin="anonymous" integrity="sha256-jdtxs75PxWiYi47UEzTTpzP+xmuzKbYle8N+fY077N8=">
        <!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-d3691059a12cddfd1d1a52d5bce5930410983abd4bf2a1dfbf37c3bda15d4703.css" /><script>var ieVersion = 6;</script><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-8eed703f45167cda9a862c02481776d9a5d8e0660ee7edfb287d017f346105a0.css" /><script>var ieVersion = 7;</script><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-a67cc07ab4c8c0b22bb322e2585094b1f291c4c8ba6f7e02e411ac31cb196706.css" /><script>var ieVersion = 8;</script><![endif]-->
        <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-07d9f2ae45b9bf761acf17c7ec414a9493f1a7cf1c8278b7ad5497cdd73eee84.css" crossorigin="anonymous" integrity="sha256-B9nyrkW5v3YazxfH7EFKlJPxp88cgni3rVSXzdc+7oQ=">
        <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/application-904dd93114da64cd8a7d7f1adae0c1f5ac1685c15ad3004e17ac3a4f99ca306b.css">
        <!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/service-manual-frontend/print-0692e22cd92f395a0dbf0e94aaf6a0dd599c3fa3f66f55a7adbf2dd2ce9d8e1b.css">
        <meta name="csrf-param" content="authenticity_token">
        <meta name="csrf-token" content="eOOoXiwxMuFaJl/SlMeb8xVlb4S6E79+GDHEj0y7X35OOuCOEWpeqGgRZs4JUbzAeODWoPM3Qkd2yPAwhFQShQ==">
        <meta name="govuk:format" content="service_manual_topic">
        <meta name="govuk:schema-name" content="service_manual_topic">
        <meta name="govuk:analytics:organisations" content="<OT1056>">
        <meta name="govuk:user-journey-stage" content="finding">
        <meta name="govuk:navigation-document-type" content="other">
        <meta name="description" content="Naming your service, prototypes, frontend tools and design patterns.">
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/application-ie6-9eb3efcefcc18f09a378c2f5ffaba43041edd421c109d7d28825d8528ba0a1a6.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/application-ie7-5a3f03fc1648da0c4698723b4521e7e18ee1a8047b82d56de27929f070c7e73b.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/application-ie8-b15a9548f4df1d58ec232e940aa478e73cc7b3f82f34b334e9978f20723ca7f6.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="service-manual-frontend">
        </head>

          <body class="js-enabled">
            <script async="" src="https://www.google-analytics.com/analytics.js"></script><script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

            <div id="skiplink-container">
              <div>
                <a href="#content" class="skiplink">Skip to main content</a>
              </div>
            </div>

            <div id="global-cookie-message">
                <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
            </div>

<div id="wrapper" class="direction-ltr">
            <main role="main" id="content" lang="en">
              <div class="full-page-width-wrapper">
                <div class="govuk-beta-label">
          <p><strong class="phase-tag">Beta</strong>
            <span>
                  This is a work in progress, please bear with us :)</a>
            </span>
          </p>
        </div>
              </div>

       <!-- Header and info -->
        <div class="grid-row">
          <div class="column-two-thirds">
            <div class="page-header">
              <h1 class="page-header__title">Design community</h1>
              <p class="page-header__summary">
                This text will explain what this is about.
              </p>
            </div>
          </div>
        </div>

        <!-- Content categories -->
<div class="grid-row">
          <div class="column-two-thirds">
              <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions"><div class="subsection-controls js-subsection-controls"></div>
                <div class="subsection-wrapper">

                  <!-- Prototyping -->
                    <div class="js-subsection subsection--is-open">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="Prototyping"><button class="subsection__button js-subsection-button" aria-expanded="true" aria-controls="subsection_content_0">Prototyping</button></h2>
                        <p class="subsection__description">Prototyping process and stuff.</p>
                      <span class="subsection__icon"></span></div>
                      <div class="subsection__content js-subsection-content" id="subsection_content_0">
                        <ul class="subsection__list">
                            <li class="subsection__list-item">
                              <a href="">Getting to grips with git and heroku</a>
                            </li>
                            <li class="subsection__list-item">
                              <a href="">Second thing</a>
                            </li>
                            <li class="subsection__list-item">
                              <a href="">Third thing</a>
                            </li>
                            <li class="subsection__list-item">
                              <a href="">Fourth thing</a>
                            </li>
                            <li class="subsection__list-item">
                              <a href="">Fifth thing</a>
                            </li>
                        </ul>
                      </div>
                    </div>

                    <!-- Tools -->
                    <div class="subsection js-subsection">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="Tools"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Tools</button></h2>
                        <p class="subsection__description">Stuff to get you started. </p>
                      <span class="subsection__icon"></span></div>
                      <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                        <ul class="subsection__list">
                            <li class="subsection__list-item">
                              <a href="https://b8cd6t.axshare.com">Matt's thing</a>
                            </li>
                            <li class="subsection__list-item">
                              <a href="starterguide.html">Starter guide</a>
                            </li>
                            <li class="subsection__list-item">
                              <a href="">Axure widgets</a>
                            </li>
                            <li class="subsection__list-item">
                              <a href="">Fonts</a>
                            </li>
                        </ul>
                      </div>
                    </div>

                    <!-- Team -->
                    <div class="subsection js-subsection">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="Team"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_2">Team</button></h2>
                        <p class="subsection__description">Who's who, blogs and other people stuff.</p>
                      <span class="subsection__icon"></span></div>
                      <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_2">
                        <ul class="subsection__list">
                            <li class="subsection__list-item">
                              <a href="">Meet the team</a>
                            </li>
                        </ul>
                      </div>
                    </div>

                    <!-- Content -->
                    <div class="subsection js-subsection">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="Content"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_3">Content</button></h2>
                        <p class="subsection__description">Wordy stuff.</p>
                      <span class="subsection__icon"></span></div>
                      <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_3">
                        <ul class="subsection__list">
                            <li class="subsection__list-item">
                              <a href="">Language guide</a>
                            </li>
                        </ul>
                      </div>
                    </div>

                    <!-- Principles -->
                    <div class="subsection js-subsection">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="Principles"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_2">Principles</button></h2>
                        <p class="subsection__description">Design principles.</p>
                      <span class="subsection__icon"></span></div>
                      <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_2">
                        <ul class="subsection__list">
                            <li class="subsection__list-item">
                              <a href="">GDS "ten commandments"</a>
                            </li>
                        </ul>
                      </div>
                    </div>

                    <!-- Library -->
                    <div class="subsection js-subsection">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="Library"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_2">Library</button></h2>
                        <p class="subsection__description">Useful links and articles.</p>
                      <span class="subsection__icon"></span></div>
                      <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_2">
                        <ul class="subsection__list">
                            <li class="subsection__list-item">
                              <a href="">These are some great learning materials.</a>
                            </li>
                        </ul>
                      </div>
                    </div>
                </div>
              </div>
          </div>

          <!-- Join the community -->
          <div class="column-third">
              <div class="related-item">
                <h2 class="related-item__title" id="related-communities">
                  Join the community        </h2>
                <p class="related-item__description">
                  Find out what the design community does and how to get involved.
                </p>
                <nav role="navigation" aria-labelledby="related-communities" class="related-communities">
                  <ul class="related-item__list">
                      <li class="related-item__list-item">
                        <a href="/service-manual/communities/design-community">Design community</a>
                      </li>
                  </ul>
                </nav>
              </div>
          </div>
</div>
          </main>
</div>

        <div id="global-app-error" class="app-error hidden"></div>
        <script src="https://assets.publishing.service.gov.uk/static/govuk-template-d4ba5ab8f60c9df5c733e7d3c7c469ff93dc6b64d2b2a8feb94afa8f77c66193.js" crossorigin="anonymous" integrity="sha256-1LpauPYMnfXHM+fTx8Rp/5Pca2TSsqj+uUr6j3fGYZM="></script>
        <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-5f1157a433c276bcb98f3651434f7cb1f49ff45fe2ec2808b46ee088e61159b5.js" crossorigin="anonymous" integrity="sha256-XxFXpDPCdry5jzZRQ098sfSf9F/i7CgItG7giOYRWbU="></script>
        <script src="https://assets.publishing.service.gov.uk/static/header-footer-only-fafb5f177839ed067265c412a7b02814c4873d689ce7ad001bd97e323b1f2287.js" crossorigin="anonymous" integrity="sha256-+vtfF3g57QZyZcQSp7AoFMSHPWic560AG9l+MjsfIoc="></script>
        <script src="https://assets.publishing.service.gov.uk/static/surveys-0d86371aa3b7454b07a5045a026cf00fc7c405bff02e06be7d4703391c422f23.js" crossorigin="anonymous" integrity="sha256-DYY3GqO3RUsHpQRaAmzwD8fEBb/wLga+fUcDORxCLyM="></script>
        <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
        <script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-8545e3ada12017a9eb4a218c12237c0ab456450b5466855a306d20f666dff77d.js"></script>

        </body></html>
    </div>
  </div>
</main>

{% endblock %}
