
{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<style>
    #footer {display:none;}
    #global-header-bar {display:none;}
    .header-logo {display:none;}
    @font-face {font-family: Helvetica;}
    #content {color: #000000}
    h2 {color: black;}
    h1.homepage-header {font-size: 36px; font-weight: bold;}
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <!-- Breadcrumbs -->
            <div class="breadcrumbs">
                <ol>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/starterguide">Starter guide</a></li>
                    <li> <a href="/slack"> Slack </a> <li>
                </ol>
            </div>

            <form class="form">

                <fieldset class="form-group">
                    <legend>
                        <h1 class="heading-large">
                            Slack
                        </h1>
                        <p class="body-text">
                            Get started on Slack for collaborating and communicating
                        </p>
                    </legend>

                    <h1 class="heading-medium">
                        Create a Slack account
                    </h1>

                    <ul class="list list-bullet">
                        <li>Go to <a href="https://slack.com">Slack.com</a> and sign up with your work email address for a free account.</li>
                        <p></p>
                        <li>You'll then be taken to a new page where you can click 'Find your Slack workspace'.</li>
                        <p></p>
                        <li>Click this link and you'll get a confirmation email. </li>
                        <p></p>
                        <li>If you don't have remote access to your outlook on your Macbook, you'll need to forward any confirmation emails to an email account that you can access on your Macbook.</li>
                    </ul>

                    <h1 class="heading-medium">
                        Join Slack workspaces
                    </h1>

                    <ul class="list list-bullet">
                        <li>You'll need to join the following workspaces</li>
                        <p></p>
                        <li>landregistry.slack.com</li>
                        <li>ukgovernmentdigital.slack.com</li>
                    </ul>


                </fieldset>

            </form>

        </div>
    </div>
</main>

{% endblock %}
